%text-900 {
    font-family: 'text-black', sans-serif;
    font-weight: 900;
}

%text-500 {
    font-family: 'text-medium', sans-serif;
    font-weight: 500;
}

%text-400 {
    font-family: 'text-regular', sans-serif;
    font-weight: 400;
}